<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <title>Home</title>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
        </script>
        <style>
    div#imh {
      display: block;
      position: relative;
    }

    div#imh::after {
      content: "";
      background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }

    .leftContent {
      float: left;
      width: 40%;
      font-weight: bold;
    }

    .rightContent {
      float: right;
      width: 60%;
    }
        </style>
    </head>
    <body style="height: 100%">
        <div class="topnav" id="myTopnav">
            <a href="/home" class="active">Home</a>
            <a href="/loadContact">Contact</a>
            <a href="/loadAbout">About</a>
            <!-- show logout button at the right end -->
            <a href="/" style="float: right">Logout</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!-- Test friends -->
        <div id="imh" >
        <div class=" grid grid-cols-3 h-screen gap-x-4">
        <aside class="flex col-span-1">
          <div class="h-screen py-8 overflow-y-auto border-l border-r sm:w-64 w-60 dark:bg-gray-900 dark:border-gray-700">
            <h2 class="px-5 text-lg font-medium text-gray-800 dark:text-white">Friends</h2>
                <div class="  mt-8 space-y-4" id ="displayallfriends">
                    
                </div>
            </div>
        </aside>
        <!-- End Test -->
                <script>
        var Friends = [
          {
            name: "Leslie",
            "userid":"01",
            profilepic: "../static/friend1.png",
          },
          {
            name: "Alexander",
            "userid":"02",
            profilepic: "../static/friend2.png",
          },
          {
            name: "Diana",
            "userid":"03",
            profilepic: "../static/friend3.png",
          },
          {
            name: "Marcus",
            "userid":"04",
            profilepic: "../static/friend4.png",
          },
          {
            name: "Jacqueline",
            "userid":"05",
            profilepic: "../static/friend5.png",
          },
          
        ];

        buildUL(Friends);

        function buildUL(data) {
          var displayallfriends = document.getElementById("displayallfriends");

          for (var i = 0; i < data.length; i++) {
            console.log(data[i]);

            var listvalues = `
            <form id ="navigatetouser" action="" method="post">
            <a href="/individualperson/${data[i].name}" onclick="document.getElementById('navigatetouser').submit();>
            <button id="${data[i].userid}" class="flex items-center w-full px-5 py-2 transition-colors duration-200 dark:hover:bg-gray-800 gap-x-2 hover:bg-gray-100 focus:outline-none">
                        <img class="object-cover w-8 h-8 rounded-full" src="${data[i].profilepic}" alt="">
                        <div class="text-left rtl:text-right">
                            <h1 class="text-sm font-medium text-gray-700 capitalize dark:text-white">${data[i].name}</h1>
                           
                        </div>
                    </button>
                    </a>
                    </form>`;

                    displayallfriends.innerHTML += listvalues;
          }

        }
          </script>
        <!-- Search for friend -->
        <div class=" p-10 col-span-2 ">
            <h1 class="  block ml-2 font-bold pb-10">Add Friends</h1>
            <form  action="" method="post" class="flex items-center grid grid-cols-1 md:grid-cols-3 " onsubmit="return false">   
              <label for="voice-search" class="sr-only">Search</label>
              <div class="relative w-full md:col-span-2">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                  </div>
                  <input type="text" id="email-address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Friends..." required>

              </div>
              <div class="md\:col-span-1">
                <button type="submit" id="search" class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                 Search
              </button>
              <button  id="CancelSearch" class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Cancel
             </button>
              </div>
              
          </form>
           
            <!-- list of names present -->
            <div id="disp-friends">
              <form class="flex" action="" method="post" >
                <div class="bg-white font-sans mt-24 h-100 w-full flex flex-row justify-center items-center" id="FriendName" style="visibility: hidden;">
                    <div class="card w-96 mx-auto bg-white  shadow-xl hover:shadow">
                        <img class="w-32 mx-auto rounded-full -mt-20 border-8 border-white" src="../static/friend1.png" alt="">
                        <div id="addfriendname" class="text-center mt-2 text-3xl font-medium"></div>
                        <div id="addfriendcountry" class="text-center font-normal text-lg"></div>
                        <div class="px-6 text-center mt-2 font-light text-sm">
                          <p>
                            Front end Developer, avid reader. Love to take a long walk, swim
                          </p>
                        </div>
                        <hr class="mt-8">
                        <div class="flex p-2 w-full h-full bg-indigo-500 items-center">
                            <button id="Addfriendbutton" type="submit" class="text-xl tracking-tight text-gray-900 m-2 p-1 w-full">
                                Add Friend
                            </button>
                        </div>
                    </div>
                </div>
              </form>
                <!-- end -->
            </div>
        </div>
      </div >

    <script>


    var Names = [{ "id": 1, "name": "Jack", "country": "USA" },
    { "id": 1, "name": "Peter", "country": "Canada" },

    ]
    var BackendFetch = new Map();
    let FindName = document.getElementById("email-address");
    let Searchbutton = document.getElementById("search");
    let CancelSearch = document.getElementById("CancelSearch");
    let Addfriendbutton = document.getElementById("Addfriendbutton");
    let FriendName = document.getElementById("FriendName");
    let dispfriends = document.getElementById("disp-friends");
    let addfriendname = document.getElementById("addfriendname");
    let addfriendcountry = document.getElementById("addfriendcountry");


    Searchbutton.onclick = function () {





      var wantedName = FindName.value;
      for (var i = 0; i < Names.length; i++) {
        if (Names[i].name === wantedName) {
          document.getElementById("addfriendname").innerHTML = Names[i].name;
          document.getElementById("addfriendcountry").innerHTML = Names[i].country;
          FriendName.style.visibility = 'visible';
          break;
        }
        else {
          FriendName.style.visibility = 'hidden';
        }
      }
      // document.getElementById("email-address").value = "";
    }

    CancelSearch.onclick = function () {

      FriendName.style.visibility = 'hidden';
      document.getElementById("email-address").value = "";
    }
    Addfriendbutton.onclick = function () {


      BackendFetch.set('Name', addfriendname.innerHTML);
      document.getElementById("email-address").value = "";
      FriendName.style.visibility = 'hidden';
      console.log(BackendFetch);

    }
    </script>
      </div>
</body>
</html>
