<html>

<head>
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="/">Login</a>
        <a href="/loadContact" class="active">Contact</a>
        <a href="/loadAbout">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8" style="
    background-image: url('/static/travel-planning-how-far-in-advance-should-i-plan-a-vacation.webp');
    ">
        <div class="w-full max-w-md space-y-8 rounded-lg shadow-lg p-8" style="
          background: ghostwhite;
          ">
            <div class="text-center">
                <!-- add font color for FFTD and give shadow outline for the logo title FFTD. Make it stand out using the color pallete mentioned in top of the code -->
                <h1 class="text-5xl font-bold  mb-2" style="
            color: #2A6F97;
            text-shadow: 2px 2px 4px #e1e1e1;
            ">FFTD</h1>
                <p class="mt-1 text-center text-md text-gray-600">
                    Friends Family Travel Diary
                </p>
                <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Support</h2>
            </div>
            <form class="mt-8 space-y-6" name="RegForm" action="/submitContact" method="POST">
                <input type="hidden" name="remember" value="true">
                <div class="-space-y-px rounded-md shadow-sm">
                    <div class="mb-4">
                        <label for="FirstName" class="sr-only">First Name</label>
                        <input type="text" name="FirstName" id="FirstName" placeholder="First Name"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg"
                            value="{%if obj%}{{obj.FirstName}}{%endif%}" required pattern="[A-Za-z]{1,32}"
                            title="Firstname should only contain alphabets and length should be greater then 1.">
                    </div>
                    <div class="mb-4">
                        <label for="LastName" class="sr-only">Last Name</label>
                        <input type="text" name="LastName" id="LastName" placeholder="Last Name"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg"
                            value="{%if obj%}{{obj.LastName}}{%endif%}" required pattern="[A-Za-z]{1,32}"
                            title="LastName should only contain alphabets and length should be greater then 1.">
                    </div>
                    <div class="mb-4">
                        <label for="phone" class="sr-only">Phone</label>
                        <input type="text" name="phone" id="phone" placeholder="Phone"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg" value="{%if obj%}{{obj.Phone}}{%endif%}"
                            required pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                            title="phone number should only contain 10 digits.">
                    </div>
                    <div class="mb-4">
                        <label for="Emaild" class="sr-only">Email</label>
                        <input type="email" name="Emaild" id="Emaild" placeholder="Email"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg" value="{%if obj%}{{obj.Emaild}}{%endif%}"
                            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    </div>
                    <div class="mb-4">
                        <label for="Comment" class="sr-only">Comment</label>
                        <textarea type="text" name="comment" id="comment" placeholder="comment"
                            class="bg-gray-100 border-2 w-full p-4 rounded-lg"
                            value="{%if obj%}{{obj.Comment}}{%endif%}" required> </textarea>
                    </div>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <p align="center">{{ messages[0] }}</p>
                {% endif %}
                {% endwith %}
                <div>
                    <button type="submit" style="background-color: #2A6F97;"
                        class="group relative flex w-full justify-center rounded-md border border-transparent  py-2 px-4 text-sm font-medium text-white  focus:outline-none focus:ring-2  focus:ring-offset-2">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>

</html>