<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dashboard</title>
    <link rel="stylesheet" href="style.css">
    <style>


      .AdminTable table, th,td{
        border: 1px solid black;
      border-collapse: collapse;
      border-radius: 9px;
      }
      .topnav {
          overflow: hidden;
          background-color: #333;
      }
      .btn{
			background-color: #00aaff;
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 10px 20px;
			cursor: pointer;
			font-size: 0.7rem;
			text-transform: uppercase;
			transition: all 0.2s ease;
		}

		.btn:hover {
			background-color: #0088cc;
		}
    
      .topnav a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
      }

      .topnav a:hover {
          background-color: #ddd;
          color: black;
      }

      .topnav a.active {
          background-color: #2A6F97;
          color: white
      }

      .topnav .icon {
          display: none;
      }

      @media screen and (max-width: 600px) {
          .topnav a:not(:first-child) {
              display: none;
          }

          .topnav a.icon {
              float: right;
              display: block;
          }
      }

      @media screen and (max-width: 600px) {
          .topnav.responsive {
              position: relative;
          }

          .topnav.responsive .icon {
              position: absolute;
              right: 0;
              top: 0;
          }

          .topnav.responsive a {
              float: none;
              display: block;
              text-align: left;
          }
      }
  </style>
</head>
<body style="height: 100%;" >
  <div class="topnav" id="myTopnav">
      <a href="/" >Login</a>
      <a href="#news" class="active">dashboard</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
      </a>
  </div><div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8" >
    <div class="w-full max-w-md space-y-8 rounded-lg shadow-lg p-8" style="
      background: ghostwhite;
      ">
        <div class="text-center">
            <h1 class="text-5xl font-bold  mb-2" style="color: #2A6F97; text-shadow: 2px 2px 4px #e1e1e1;">FFTD</h1>
            <p class="mt-1 text-center text-md text-gray-600">
                Friends Family Travel Diary
            </p>
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">User:{{obj.UserName}}</h2>
        </div>
        
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {{ messages[0] }}

                {% endif %}
                {% endwith %}
            </div>
            </div>
        </div>
        <!-- card -->
        <div class="flex min-h-full justify-left py-12 px-4 sm:px-6 lg:px-8" >
          <div class="w-full max-w-lg space-y-8 rounded-lg shadow-lg p-8" style="
            background: ghostwhite;"> 
                <p class="text-2xl font-bold  mb-2" style="color: #2A6F97; text-shadow: 2px 2px 4px #e1e1e1;">Unapproved users</p>
          <table class="AdminTable">
            {% if obj.Role==1%}
            {% if lus>0 %}
            <thead>
              <tr>
                <th>firstname</th>
                <th>lastName</th>
                <th>email</th>
                <th>User Name</th>
                <th>acton</th>
            </tr>
            </thead>
            {% endif %}
            {% endif %}
      
            <tbody>
                {% for user in unApprovedUserList %}
                <tr>
                    <td>{{ user['FirstName'] }}</td>
                    <td>{{ user['LastName'] }}</td>
                    <td>{{ user['Emaild'] }}</td>
                    <td>{{ user['UserName'] }}</td>
                    <form action='/admin/approveUser' method='post'>
                      <input type='hidden' name='UserId' value='{{ obj.UserId }}' >
                        <input type='hidden' name='TargetUserId' value='{{ user['UserId']}}' >
                        <td><input class="btn" type="submit" value="Approve"></td>
                </form>
                </tr>
                {% endfor %}
              </tbody>
              </table>
              </div>

<!-- approve members in group -->
<div class="flex min-h-full justify-left py-12 px-4 sm:px-6 lg:px-8" >
  <div class="w-full max-w-lg space-y-8 rounded-lg shadow-lg p-8" style="
    background: ghostwhite;"> 
        <p class="text-2xl font-bold  mb-2" style="color: #2A6F97; text-shadow: 2px 2px 4px #e1e1e1;">Add member to group</p>
<table class="AdminTable">
                
  {% if obj.Role==1%}
  {% if lugu>0 %}
    <thead>
      <tr>
        <th>group id</th>
        <th>group name</th>
        <th>email</th>
        <th>action</th>
    </tr>
    </thead>
    <tr>
      </tr>
  {% endif %}
  {% endif %}
  {% if obj.Role==1%}          
  {% for ug in unApprovedGroupUserList %}
  <tr>
    <td>{{ ug['GroupId'] }}</td>
    <td>{{ ug['GroupName'] }}</td>
    <td>{{ ug['UserName'] }}</td>
    <form action='/ApproveUserForGroup' method='post'>
      <input type='hidden' name='UserId' value='{{ obj.UserId }}' >
      <input type='hidden' name='TargetUserId' value='{{ ug['UserId']}}' >
      <input type='hidden' name='GroupId' value='{{ ug['GroupId'] }}' >
      <td><input class="btn" type='submit' value='add to  group'></td>
    </form>
</tr>
{% endfor %}
{% endif %}
</table>
</div>
</div>


{% if obj.Role==1%}
{% if lug>0 %}
<div class="flex min-h-content justify-left  py-12 px-4 sm:px-6 " >
  <div class="w-content min-h-content max-w-content space-y-8 rounded-lg shadow-lg p-8" style="
    background: ghostwhite;"> 
<table>
  <p class="text-2xl font-bold  mb-2" style="color: #2A6F97; text-shadow: 2px 2px 4px #e1e1e1;">approve create group request</p>
<thead>
  <tr></tr>
<th>GroupName</th>
<th>Action</th>
</tr>
</thead>
  {% endif %}
  {% endif %}
  {% for ug in unApprovedGroup %}
</tr>
<tr>
  <td>{{ ug['GroupName'] }}</td>
  <form action='/ApproveGroup' method='post'>
    <input type='hidden' name='UserId' value='{{ obj.UserId }}' >
    <input type='hidden' name='GroupId' value='{{ ug['GroupId'] }}' >
    <td><input class="btn" type='submit' value='approve group'></td>
  </form>
</tr>
{% endfor %}
</table>
</div>
</div>
<!-- 1st row div -->
</div>

<!-- approve the post request -->

<div class="flex min-h-content justify-left  py-12 px-4 sm:px-6 " >
  <div class="w-content min-h-content max-w-content space-y-8 rounded-lg shadow-lg p-8" style="
    background: ghostwhite;"> 

{% if obj.Role==1%}
{% if lup>0 %}

{% endif %}
{% endif %}
{% if obj.Role==1%}
<table >
  <p class="text-2xl font-bold  mb-2" style="color: #2A6F97; text-shadow: 2px 2px 4px #e1e1e1;">approve create group request</p>
  <thead>
    <th>creatorId</th>
    <th>Group Id</th>
    <th>data</th>
    </thead>
  {% for up in UnApprovedPostList %}
<tr>
  <td>{{ up['UserName'] }}></td>
  <td>{{ up['GroupName'] }}</td>
  <td>{{ up['PostDescription'] }}</td>
  <tr>
    <td>
    <iframe src="../static/{{up.PostId}}.{{up.type}}" width=1000 height=400 frameborder=0 ></iframe>
    </td>
  </tr>
  <form action='/ApprovePost' method='post'>
    <input type='hidden' name='UserId' value='{{ obj.UserId }}' >
    
    <input type='hidden' name='TargetUserId' value='{{ up['UserId']}}' >
    <input type='hidden' name='PostId' value='{{ up['PostId']}}' >
      <td><input class="btn" type='submit' value='approve post'></td>
  </form>
</tr>
{% endfor %}
{% endif %}

</table>
</div>

<div class="flex min-h-content justify-left  py-12 px-4 sm:px-6 " >
  <div class="w-content min-h-content max-w-content space-y-8 rounded-lg shadow-lg p-8" style="
    background: ghostwhite;"> 
  <p class="text-2xl font-bold  mb-2" style="color: #2A6F97; text-shadow: 2px 2px 4px #e1e1e1;">Active users</p>
    {% if obj.Role==1%}
    <table>
      <thead>
        <th>Emaild</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>actions</th>
      </thead>
    {% for user in activeUsers %}
    <tr>
        <td>{{ user['Emaild'] }}</td>
        <td>{{ user['FirstName'] }}</td>
        <td>{{ user['LastName'] }}</td>
        <form action='/DeActivateUser' method='post'>
          <input type='hidden' name='UserId' value='{{ obj.UserId }}' >
          <input type='hidden' name='TargetUserId' value='{{ user['UserId']}}' >
          <td><input class="btn" type='submit' value='deactive user'></td>

        </form>
    </tr>
    {% endfor %}
    {% endif %}
</table>
    </div>
</div>


<div class="flex min-h-content justify-left  py-12 px-4 sm:px-6 " >
  <div class="w-content min-h-content max-w-content space-y-8 rounded-lg shadow-lg p-8" style="
    background: ghostwhite;"> 
  <p class="text-2xl font-bold  mb-2" style="color: #2A6F97; text-shadow: 2px 2px 4px #e1e1e1;">Active groups</p>
  {% if obj.Role==1%}
  {% if lenActiveGroupUser>0 %}
  <table>
    <thead>
      <th>Group name</th>
      <th>AdminId</th>
      <th>actions</th>
    </thead>
  {% for group in activeGroupUser %}
  <tr>
      <td>{{ group[0]['GroupName'] }}</td>
      <td>{{ group[0]['AdminId'] }}</td>
      <form action='/DeActivateGroup' method='post'>
        <input type='hidden' name='UserId' value='{{ obj.UserId }}' >
        <input type='hidden' name='GroupId' value='{{ group[0]['GroupId']}}' >
          <td><input class="btn" type='submit' value='deactivate group'></td>
      </form>
      </tr>
    {% for user in group[1]%}
    <tr>
      <td>{{user['UserName']}}</td>
      <td>
        <form action="/DeactivateUserFromGroup" method="post">
          <input type="hidden" name="GroupId" value="group[0]['GroudId']">
          <input type="hidden" name="TargetUserId" value="{{user['UserId']}}">
          <input type="hidden" name="UserId" value="obj.UserId">
          <input class="btn
          " type="submit" value="deactive user from group">
        </form>
      </td>
    </tr>

    {% endfor %}
  {% endfor %}
  {% endif %}
  {% endif %}
</table>
 </div>
 </div>
  <!-- 2nd row div -->
</div> 

<div class="flex min-h-content justify-left  py-12 px-4 sm:px-6 " >
  <div class="w-content min-h-content max-w-content space-y-8 rounded-lg shadow-lg p-8" style="
    background: ghostwhite;"> 
  <p class="text-2xl font-bold  mb-2" style="color: #2A6F97; text-shadow: 2px 2px 4px #e1e1e1;">headins</p>
</div>


<!-- 3rd row div -->
</div>

  </body>
</html>
