<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Home</title>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
    <style>
      div#imh {
        display: block;
        position: relative;
      }

      div#imh::after {
        content: "";
        background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }

      .leftContent {
        float: left;
        width: 40%;
        font-weight: bold;
      }

      .rightContent {
        float: right;
        width: 60%;
      }
    </style>
  </head>

  <body style="height: 100%">
    <div class="topnav" id="myTopnav">
      <a href="/home" class="active">Home</a>
      <a href="/loadContact">Contact</a>
      <a href="/loadAbout">About</a>
      <!-- show logout button at the right end -->
      <a href="/" style="float: right">Logout</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 md:grid-cols-6">
          <div class="col-span-1 md:col-span-1">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">
              Friends Post
            </h1>
          </div>

          <div class="col-span-1 md:col-span-5 flex flex-row-reverse">
            <div @click.away="open = false" class="relative" x-data="{ open: false }">
              <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                <span>Navigate</span>
                <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </button>
              <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48">
                <div class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800">
                  <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="/friendsaddpost"> Add Post</a>
                  <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="/allfriends">All Friends</a>
                </div>
          </div>
        </div>
      </div>
    </header>


    <!-- Test Post code -->
    <div id="allcomments" class=" overflow-hidden shadow-none p-12">
      
      
    </div>
    <script>
      var Comments = [
        {
          "Author" : "Leslie",
          "Description" : "Wonderful Trip",
          "Picture": "https://images.pexels.com/photos/1450082/pexels-photo-1450082.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260",
          "Comments": [
            {
              "Author": "Joshua",
              "Comment": "GoodPost"
            }
          ]
      },
      {
          "Author" : "Epps",
          "Description" : "Peace",
          "Picture": "https://images.pexels.com/photos/1450082/pexels-photo-1450082.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260",
          "Comments": [
            {
              "Author": "Garry",
              "Comment": "I need to visit one day"
            }
          ]
      }
    ]
    loadComments(Comments)

    function loadComments(data) {
      var listcomments = document.getElementById("allcomments");

          for (var i = 0; i < data.length; i++) {
            console.log(data[i]);
            var Postvalue = `
            <div class="mt-10 p-25 grid grid-row-12 md:grid-cols-12">
        <div class="row-span-6 w-full md:col-span-6">
          <img
            class="w-full max-w-full min-w-full"
            src="${data[i].Picture}"
            alt="Description"
          />
        </div>
        <div class="row-span-6 md:col-span-6 relative pl-4">
          <header class="border-b border-grey-400">
            <div>
              <a
                href="#"
                class="block cursor-pointer py-4 flex items-center text-sm outline-none focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
              >
                <img
                  src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                  class="h-8 w-8 rounded-full object-cover"
                  alt="user"
                />
                <p class="block ml-2 font-bold">${data[i].Author}</p>
              </a>
            </div>
            <div>
              <p class="block ml-2 font-bold">${data[i].Description}</p>
            </div>
          </header>
          <!--All Comment section -->
          `
          for (var j = 0; j < data[i].Comments.length; j++) {
            var commentValue = `
          <div class="text-sm mb-2 flex flex-start items-center pt-1">
            <div>
              <a
                href="#"
                class="cursor-pointer flex items-center text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
              >
                <img
                  class="h-8 w-8 rounded-full object-cover"
                  src="https://images.pexels.com/photos/1450082/pexels-photo-1450082.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                  alt="user"
                />
              </a>
            </div>
            <p class="font-bold ml-2">
              <a class="cursor-pointer">${data[i].Comments[j].Author}</a>
              <span class="text-gray-700 font-medium ml-1">${data[i].Comments[j].Comment} </span>
            </p>
          </div>

          <!-- End of All Comment Section -->

          <!-- Add comment text area with button -->
            `
            Postvalue += commentValue;
          }
          var addcommentsection = `
          <div class="bottom-0 left-0 right-0 pl-4 md:absolute">
            <div class="pt-4 pb-1 pr-3 max-w-md">
              <div class="flex items-start">
                <textarea
                  class="w-full resize-none outline-none appearance-none"
                  aria-label="Agrega un comentario..."
                  placeholder="Post your comment"
                  autocomplete="off"
                  autocorrect="off"
                  style="height: 36px"
                ></textarea>
                <button
                  class="mb-2 focus:outline-none border-none bg-transparent text-blue-600"
                >
                  Comment
                </button>
              </div>
            </div>
          </div>
          <!-- End of Comment text area and button -->
        </div>
        <!-- End of Right side -->
      </div>
            
          
          `
          Postvalue += addcommentsection;
          listcomments.innerHTML += Postvalue;
          }
    }
    </script>
  </body>
</html>
