<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css">

	<script src="https://kit.fontawesome.com/2b64e6e9c6.js" crossorigin="anonymous"></script>

	<script src="../js/login.js"></script>
	<title>Login</title>
    <script src="../static/LoginValidation.js"></script>
</head>
  <body>


    <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-md space-y-8" style="text-align: center;">
          <div>
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Reset Password</h2>
            <p class="mt-2 text-center text-sm text-gray-600">
              FFTD
            </p>
          </div>
          <form class="mt-8 space-y-6" action="/forgetpassword" method="POST">
            <input type="hidden" name="remember" value="true">
            <div class="-space-y-px rounded-md shadow-sm">
             <!-- use the commented fields -->
            <div class="mb-4">
                <label for="Emaild" class="sr-only">Email</label>
                <input type="email" name="Emaild" id="Emaild" placeholder="Email" class="bg-gray-100 border-2 w-full p-4 rounded-lg" value="">
            </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{ messages[0] }}
            {% endif %}
            {% endwith %}
            <div>
              <button type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                  </svg>
                </span>
                Reset Password
              </button>
              <!-- if already have account, login -->
                <a href="/" class="text-center block text-sm text-gray-600 hover:text-gray-500">
                    back
                </a>
            </div>
          </form>
          

        </div>
        </div>
        </form>
        </div>
        </div>
      </div>
   </body>
</html>
