<!--
We will create a family tree using just CSS(3)
The markup will be simple nested lists
-->
<html>
  <head>
    <title>Family Link</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <h3> <center> <u> FAMILY TREE </u> </center> </h3>
  </head>
  <body>

<div class="tree">
	<ul>
		<li>
			<a href="#">
                <div>
                <img src = "../static/Image/Grandfather.jpeg" width="80" height="90">
                <br>
                <h1> Donald</h1>
                </div>
            </a>
            <a href="#">
                <div>
                <img src = "../static/Image/Grandfather.jpeg" width="80" height="90">
                <br>
                <h1> Anne</h1>
                </div>
            </a>
            <br>
            <a> Grand parents</a>

			<ul>
				<li>
                    <a href="#">
                    <div>
                        <img src = "../static/Image/Uncle.jpeg" width="80" height="90">
                        <br>
                        <h1> Mitchel</h1>
                    </div>
                    </a>
                    
                    <a href="#">
                        <div>
                            <img src = "../static/Image/Aunt.jpeg" width="80" height="90">
                            <br>
                            <h1> Skylar</h1>
                        </div>
                        </a>
				</li>
				<li>
					<a href="#">
                        <div>
                            <img src = "../static/Image/Father.jpeg" width="80" height="90">
                            <br>
                            <h1> Steve</h1>
                        </div>
                        </a>
                        <a href="#" class="active">
                            <div>
                                <img src = "../static/Image/Mother.jpeg" width="80" height="90">
                                <br>
                                <h1> Tammy</h1>
                            </div>
                        </a>
                        <br>
                        <a>Parents</a>
					<ul>
						<li >
                            <a href="#">
                                <div >
                                    <img src = "../static/Image/Bro.jpeg" width="80" height="90">
                                    <br>
                                    <h1> Alex</h1>
                                </div>
                                </a>
                        </li>
						<li>
							<a href="#">
                                <div>
                                    <img src = "../static/Image/Sister.jpeg" width="80" height="90">
                                    <br>
                                    <h1> Kamrin</h1>
                                </div>
                                </a>
						
				</li>
			</ul>
            
		</li>
	</ul>
</div>

</body>
</html>